

.form-container{
    width: 800px;
    margin: 0 auto;
    padding:20px;
    background-color: #c29a10;
    border-radius: 20px;
    margin-bottom: 50px;
    
}

.form-control{
    margin-bottom: 20px;
}

.main-footer{
    margin-top: 20px;
}
.menu__link:hover{
    color:white;
}

.map {

    display: flex;
    justify-content: center;
}

.map div{
    margin-top: 20px;
    justify-content: center;
}

.map div h1{
    margin-bottom: 10px;
    color: #2E7C31;
}
iframe{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}